*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Varela Round', sans-serif;
}


h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: montserrat, sans-serif;
}

a {
    text-decoration: none;
}

button {
    font-family: inherit;
}

ul{
    list-style: none;
}
.padding-y {
    padding: 120px 0;
}